@media (max-width: 1200px){
    .bg-academy-card{
        opacity: 10%;
    }
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        padding: 1rem;
        z-index: 9;
    }

    .certificate-wrapper {
        grid-template-columns: 1fr; /* одна колонка */
        text-align: center;        /* выравниваем заголовок по центру */
    }

    .certificate-title {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .lms-card img {
        max-height: 300px;
        width: auto;
        object-fit: cover;
    }

    section{
        padding: 60px 10px;
    }
}

@media (max-width: 991.98px) {
    .wrapper-title-hero {
        text-align: start;
        margin: 80px 0;
    }

    .hero-title {
        margin-bottom: 10px;
    }


    .main-title {
        font-size: clamp(50px, 25vw, 200px);
    }

    .wrapper-gradient{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        z-index: 1;
    }

    .layer-2,
    .layer-3,
    .layer-4,
    .layer-5 {
        /*width: 250%;*/
    }
    .layer-5{

    }
}

@media (max-width: 760px) {
    .wrapper-title-hero {
        text-align: start;
        margin: 80px 0;
    }

    .hero-title {
        margin-bottom: 10px;
    }


    .main-title {
        font-size: clamp(50px, 25vw, 120px);
    }

    .wrapper-gradient{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        z-index: 1;
    }

    .layer-2,
    .layer-3,
    .layer-4,
    .layer-5 {
        width: 250%;
    }

    .gradient{
        height: 150px;
    }
}


@media (max-width: 575.98px) {
    .wrapper-title-hero {
        text-align: start;
        margin: 100px 0;
    }

    .hero-title {
        margin-bottom: 10px;
    }


    .main-title {
        font-size: clamp(50px, 25vw, 120px);
    }

    .wrapper-gradient{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        z-index: 1;
    }

    .layer-2,
    .layer-3,
    .layer-4,
    .layer-5 {
        width: 300%;
    }

    .gradient{
        height: 150px;
    }
}
