@media (max-width: 1200px){
    .bg-academy-card{
        opacity: 10%;
    }
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        padding: 1rem;
        z-index: 9;
    }
}

@media (max-width: 768px) {
    .lms-card img {
        max-height: 200px;
        object-fit: cover;
    }
}
