:root {
    --white-color: #ffffff;
    --black-primary-color: #1f1f1f;
    --black-secondary-color: #606060;
    --brown-color: #653E03;
    --green-color: #0A521F;
    --blue-color: #2F78D7;
    --yellow-color: #F99806;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Light.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Regular.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Medium.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Semibold.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Bold.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

/*===========================GENERAL===========================================*/
body{
    font-family: 'SF Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black-primary-color);
    letter-spacing: -1px;
}

.container {
    max-width: 1360px !important;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.SB-title{
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: var(--black-primary-color);
    margin: 0;
    padding: 0;
}
.M-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: var(--black-primary-color);
    margin: 0;
    padding: 0;
}
.M20-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--black-primary-color);
}
.M-24{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: var(--black-primary-color);
}
.R-20{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

.R24-subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    color: var(--black-secondary-color);
}
.R18-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--black-secondary-color);
}
.black-primary-color{
    color: var(--black-primary-color);
}
.black-secondary-color{
    color: var(--black-secondary-color);
}
section{
    overflow: hidden;
    padding: 100px 10px;
}
/*===========================GENERAL===========================================*/


/*===========================HEADER===========================================*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #FFFFFF52;
}

.btn-login{
    background: linear-gradient(180deg, #F99806 0%, #FFD392 100%);
    padding: 8px 20px;
    border: 1px solid var(--yellow-color);
    border-radius: 32px;
    max-width: max-content;
}
.nav-link{
    color: var(--black-primary-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
/*===========================HEADER===========================================*/


/*============================HERO-SECTION=====================================*/
.hero-section{
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    /*background: url('./assets/img/layer-1.png') no-repeat center center;*/
    background: url('./assets/img/hero-bg.png') no-repeat center center;
    background-size: cover;

    position: relative;
}
.wrapper-title-hero{
    max-width: 900px;
    margin: 120px 0 0 30px;
}
.hero-title{
    font-size: clamp(26px, 6vw, 36px);
    font-weight: 600;
    line-height: 1.2;
    color: var(--black-primary-color);
    text-transform: uppercase;
    z-index: 6;
}
.hero-subtitle{
    font-size: clamp(18px, 3vw, 26px);
    line-height: 1.4;
    font-weight: 400;
    color: var(--black-secondary-color);
    margin-bottom: 48px;
    z-index: 6;
}

.main-title {
    font-weight: 700;
    font-size: clamp(80px, 20vw, 400px);
    line-height: 100%;
    text-transform: uppercase;
    /*position: absolute;*/
    /*left: 50%;*/
    /*bottom: 80px;*/
    /*transform: translateX(-50%);*/
    /*z-index: 1;*/
    display: none;
}
.wrapper-gradient{
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
}
.layer-2{
    position: absolute;
    bottom: 0;
    z-index: 2;

    display: none;
}
.layer-3{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    display: none;
}
.layer-4{
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    display: none;
}
.layer-5{
    position: absolute;
    top: 128px;
    right: 0;
    transform: translateX(-20%);
    z-index: 2;

    display: none;
}
.gradient{
    height: 184px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 4;

    display: none;
}
.gradient-text {
    background: linear-gradient(
            180deg,
            #E58900 14.97%,
            rgba(229, 137, 0, 0.6) 53.37%,
            rgba(229, 137, 0, 0) 85.03%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*============================HERO-SECTION=====================================*/


/*============================ABOUT-SECTION=====================================*/

.about-card{
    background: #F6F6F6;
}
.about-card-title{
    font-weight: 500;
    font-size: 36px;
    color: var(--black-primary-color);
}
.about-card-subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black-secondary-color);
}

.about-circle::before {
    right: 100%;
    margin-right: 10px;
}

/*============================ACADEMY-SECTION=====================================*/
.grid-gap{
    display: grid;
    gap: clamp(40px, 6vw, 104px);
}
.academy-card-style {
    border: none;
    z-index: 20;
    padding: 0;
}
.wrapper-academy-card{
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #F6F6F6 36.57%, #FFF0D7 100%);

}
.bg-academy-card{
    position: absolute;
    right: 0;
    top: 0;
}
.academy-photo{
    max-height: 300px;
    position: absolute;
    right: -20px;
    bottom: 0;
}

.card-content{
    display: grid;
    grid-gap: 20px;
    padding: 48px;
}

.card-text{
    font-weight: 400;
    font-size: clamp(14px, 2vw, 20px);
    line-height: 1.5;
    color: var(--black-secondary-color);
}

.statistic-wrapper{
    display: grid;
    grid-gap: 24px;
    /*background: rgba(246, 246, 246, 1);*/
    position: relative;
    overflow: hidden;
}
.statistic-bg-img{
    position: absolute;
    opacity: 10%;
    right: 150px;
    bottom: 0;
    height: 400px;
    width: 410px;
}
.statistic-wrapper-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.statistic-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #F6F6F6;
    border: 1px solid var(--white-color);
    border-radius: 24px;
}
.statistic-number{
    font-weight: 300;
    font-size: clamp(28px, 5vw, 44px);
    line-height: 1.5;
    color: rgba(227, 165, 60, 1);
}
.statistic-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-primary-color);
}
.about-svg{
    svg {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

/*============================ACADEMY-SECTION=====================================*/



/*=============================COURSE-SECTION=====================================*/

.course-card{
    border-radius: 16px;
    background: #F6F6F6;
    overflow: hidden;
    z-index: 20;
    padding: 24px;
}
.lms-title-card{
    display: flex;
    gap: 16px;
    align-items: center;
}
.course-img-wrapper{
    position: relative;
}

.course-img{
    display: block;
    border-radius: 20px;
}
.wrapper-course-tags{
    display: flex;
    flex-direction: column;
    gap: 8px;

    position: absolute;
    bottom: 10px;
    left: 20px;
}
.course-tag{
    max-width: max-content;
    background: #00000066;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--white-color);
    border-radius: 30px;
}
.lms-btn{
    background: linear-gradient(180deg, #F99806 0%, #FFD392 100%);
    border: 1px solid var(--yellow-color);
    max-width: max-content;
}
/*=============================COURSE-SECTION=====================================*/


/*=============================CERTIFICATE-SECTION=====================================*/
.certificate-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background: #1F1F1F;
    border: 2px solid;
    border-radius: 44px;
    border-image-source: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.32) 0%,
            rgba(250, 163, 31, 0.6) 51.44%,
            rgba(0, 0, 0, 0.02) 100%
    );
    align-items: center;
}

.certificate-title {
    font-weight: 400;
    font-size: clamp(26px, 5vw, 40px);
    line-height: 1.2;
    color: var(--white-color);
    padding: 40px;
    text-align: start;
}

.certificate-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}


/*=============================CERTIFICATE-SECTION=====================================*/



/*=============================CAREER-SECTION=====================================*/
.option-box{
    position: relative;
    height: 240px;
    background: #F6F6F6;
    border-radius: 32px;
}
.option-icon{
    position: absolute;
    right: -20px;
    bottom: -25px;
}

/*=============================CAREER-SECTION=====================================*/


/*=============================LMS-SECTION=====================================*/
.lms-section{
    position: relative;

}
.bg-lms{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
}
.lms-card{
    border-radius: 32px;
    background: #F6F6F6;
    overflow: hidden;
    z-index: 20;
}
.lms-title-card{
    display: flex;
    gap: 16px;
    align-items: center;
}
.course-img-wrapper{
    position: relative;
}

.course-img{
    display: block;
    border-radius: 20px;
}
.wrapper-tags{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lms-tag{
    max-width: max-content;
    background: #4395FF29;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--blue-color);
    border-radius: 30px;
}
.lms-btn{
    background: linear-gradient(180deg, #F99806 0%, #FFD392 100%);
    border: 1px solid var(--yellow-color);
    max-width: max-content;
}
/*=============================LMS-SECTION=====================================*/



/*=============================COOPERATION-SECTION=====================================*/
.container-cooperation{
    padding: 20px;
    background: #F6F6F6;
    border-radius: 32px;
}
.partners-slider {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
}

.logos-wrapper {
    display: flex;
    width: max-content;
    animation: scroll-logos 25s linear infinite;
}

.logos {
    display: flex;
    gap: 50px;
}

.logo-item {
    flex: 0 0 auto;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-item:first-child {
    margin-left: 50px;
}

.logo-item img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.fade-left,
.fade-right {
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    pointer-events: none;
}

.partners-slider::-webkit-scrollbar {
    display: none;
}
.partners-slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes scroll-logos {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.fade-left,
.fade-right {
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.fade-left {
    left: 0;
    background: linear-gradient(to right, #F6F6F6, transparent);
}

.fade-right {
    right: 0;
    background: linear-gradient(to left, #F6F6F6, transparent);
}

/*=============================COOPERATION-SECTION=====================================*/


/*=============================REVIEWS-SECTION=====================================*/
.reviews {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.reviews::-webkit-scrollbar {
    display: none;
}

.reviews-track {
    display: flex;
    gap: 20px;
    animation: scrollReviews 90s linear infinite;
}

.review-card {
    flex: 0 0 300px;
    min-width: 300px;
    max-width: 350px;
    background: #ABABAB80;
    border-radius: 12px;
    scroll-snap-align: start;

    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-card p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.head-card{
    display: flex;
    justify-content: space-between;
}
@keyframes scrollReviews {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/*=============================ADVANTAGES-SECTION=====================================*/
.advantages-card{
    background: #F6F6F6;
}

/*=============================ADVANTAGES-SECTION=====================================*/


.footer-address {
    white-space: normal;
}

/* На ноутбуках и компьютерах — запрет переносов */
@media (min-width: 1400px) {
    .footer-address {
        white-space: nowrap;
    }
}
