:root {
    --white-color: #ffffff;
    --black-primary-color: #1f1f1f;
    --black-secondary-color: #606060;
    --brown-color: #653E03;
    --green-color: #0A521F;
    --blue-color: #2F78D7;
    --yellow-color: #F99806;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Light.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Regular.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Medium.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Semibold.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/sfpro/SFProText-Bold.woff2') format('woff2'),
    url('assets/fonts/sfpro/SFProText-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

/*===========================GENERAL===========================================*/
body{
    font-family: 'SF Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black-primary-color);
    letter-spacing: -1px;
}



.container {
    max-width: 1360px !important;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

.SB-title{
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: var(--black-primary-color);
    margin: 0;
    padding: 0;
}
.M-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: var(--black-primary-color);
    margin: 0;
    padding: 0;
}
.M20-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--black-primary-color);
}

.R24-subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    color: var(--black-secondary-color);
}
.R18-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--black-secondary-color);
}
section{
    overflow: hidden;
}
/*===========================GENERAL===========================================*/


/*===========================HEADER===========================================*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
}

.btn-login{
    background: linear-gradient(180deg, #C7A56D 0%, #8F703D 100%);
    padding: 13px 50px;
    border: 1px solid var(--yellow-color);
    border-radius: 16px;
    max-width: max-content;
}
.nav-link{
    color: var(--white-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
/*===========================HEADER===========================================*/


/*============================HERO-SECTION=====================================*/
.hero-section{
    min-height: 100dvh;
    background: url('./assets/img/hero-section.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
.hero-title{
    font-size: clamp(28px, 6vw, 68px);
    font-weight: 400;
    line-height: 1.2;
    color: var(--white-color);
}
.hero-subtitle{
    font-size: clamp(18px, 3vw, 26px);
    line-height: 1.4;
    color: var(--black-primary-color);
    margin-bottom: 48px;
}

.hero-btn{
    background: linear-gradient(180deg, #C7A56D 0%, #8F703D 100%);
    border-radius: 10px;
    border: 1px solid #269D4A;
    color: var(--green-color);
    padding: 13px 20px;
    font-size: clamp(14px, 2.5vw, 20px);
}
.btn-more{
    color: var(--white-color);
    padding: 13px 20px;
    font-size: clamp(16px, 2.5vw, 20px);
}
/*============================HERO-SECTION=====================================*/


/*============================ACADEMY-SECTION=====================================*/
.academy-section {
    background: #c3a483;
    padding: clamp(60px, 10vw, 142px) 0 clamp(60px, 12vw, 148px) 0;
    position: relative;
    overflow: hidden;
}
.bg-plane, .bg-map{
    position: absolute;
    display: block;
    opacity: 40%;
    max-width: 100%;
    height: auto;
}
.bg-plane{
    top: 50px;
    left: 100px;
    width: 600px;
    height: 447px;
}
.bg-map{
    width: 503px;
    height: 450px;
    bottom: 20px;
    right: 40px;
}

.grid-gap{
    display: grid;
    gap: clamp(40px, 6vw, 104px);
}
.academy-card-style {
    border: none;
    border-radius: 48px;
    z-index: 20;
    padding: 0;
}
.wrapper-academy-card{
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #F6F6F6 36.57%, #FFF0D7 100%);

}
.bg-academy-card{
    position: absolute;
    right: 0;
    top: 0;
}
.academy-photo{
    max-height: 300px;
    position: absolute;
    right: -20px;
    bottom: 0;
}

.card-content{
    display: grid;
    grid-gap: 20px;
    padding: 48px;
}

.card-text{
    font-weight: 400;
    font-size: clamp(14px, 2vw, 20px);
    line-height: 1.5;
    color: var(--black-secondary-color);
}

.statistic-wrapper{
    padding: 28px;
    display: grid;
    grid-gap: 24px;
    background: rgba(246, 246, 246, 1);
    position: relative;
    overflow: hidden;
}
.statistic-bg-img{
    position: absolute;
    opacity: 10%;
    right: 150px;
    bottom: 0;
    height: 400px;
    width: 410px;
}
.statistic-wrapper-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.statistic-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
    border: 1px solid var(--white-color);
    border-radius: 24px;
}
.statistic-number{
    font-weight: 300;
    font-size: clamp(28px, 5vw, 44px);
    line-height: 1.5;
    color: rgba(227, 165, 60, 1);
}
.statistic-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-primary-color);
}

/*============================ACADEMY-SECTION=====================================*/




/*============================EVOLUTION-SECTION=====================================*/
.evolution-section{
    padding: 44px 0;
}
.evolution-container{
    background: rgba(246, 246, 246, 1);
    padding: 28px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    position: relative;
    overflow: hidden;
}
.bg-deer{
    position: absolute;
    top: 0;
    right: 150px;

    opacity: 20%;
}

.evolution-card-style {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
    border: 1px solid var(--white-color);
}
.evolution-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.evolution-card-title{
    font-weight: 500;
    font-size: clamp(14px, 2vw, 17px);
    line-height: 1.2;
    color: var(--black-primary-color);
}

.evolution-text{
    font-weight: 400;
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.4;
    color: var(--black-secondary-color);
}
/*============================EVOLUTION-SECTION=====================================*/



/*=============================LMS-SECTION=====================================*/
.lms-section{
    min-height: 100vh;
    padding: 60px 12px;
    background: url('./assets/img/lms-section.png') no-repeat center center;
    background-size: cover;
}

.lms-container-wrapper{
    background: #F6F6F6;
    opacity: 90%;
    border-radius: 32px;
    padding: 28px;
    position: relative;
}

.bg-lms-ico{
    position: absolute;
    left: 100px;
    bottom: 0;
}

.lms-card{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
    border: 1px solid var(--white-color);
    overflow: hidden;
    z-index: 20;
}
.lms-title-card{
    display: flex;
    gap: 16px;
    align-items: center;
}
.wrapper-tags{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.lms-tag{
    max-width: max-content;
    background: #2F78D729;
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--blue-color);
    border-radius: 16px;
}
.lms-btn{
    background: linear-gradient(180deg, #F99806 0%, #FFD392 100%);
    border: 1px solid var(--yellow-color);
    max-width: max-content;
}
/*=============================LMS-SECTION=====================================*/



/*=========================TRANSFORMATION-SECTION=====================================*/
.transformation-section{
    padding: 44px 12px;
}
.transformation-container{
    background: #F6F6F6;
    padding: 28px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    position: relative;
    overflow: hidden;
}


.feature-card {
    position: relative;
    background: #fff;
}

.feature-card .feature-img {
}
.feature-card--tall .feature-img {
    height: 100%;
}

.feature-overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 18px 18px;
}
.overlay--white{
    color: #111;
    background: linear-gradient(360deg,
    #FFFFFF 56.73%,
    rgba(255, 255, 255, 0.72) 74.04%,
    rgba(255, 255, 255, 0) 100%);
}
.overlay--blue{
    color: #fff;
    background: linear-gradient(180deg,
    rgba(47, 120, 215, 0) 0%,
    rgba(47, 120, 215, 0.72) 25%,
    #2F78D7 50.96%);
}


/*=========================TRANSFORMATION-SECTION=====================================*/
